/nbproject/
/public_html/data/faa-ontime-sept2001.csv
/public_html/data/plane-crashes.ascii.csv
/public_html/data/ufo-sightings.csv
/data/plane-crashes.ascii.csv
data/faa-ontime-sept2001.csv
images/Thumbs.db
images/~$Presentation1.pptx
*.sublime-project
*.sublime-workspace
data/arafah/
data/datasets/
data/test/
~$MetaReader.pptx


