/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : Nov 1, 2014, 4:47:06 PM
    Author     : Hassan
*/

.mrc-chart {
    font: 10px sans-serif;
}
.mrc-chart line {
    stroke-width: 1.5px;
    stroke: #000;
}
.mrc-chart rect, .mrc-chart .area, .mrc-chart circle {
    /*fill: #ddd;*/

    /*stroke: #fff;*/

    stroke-width: 1.5px;
    fill: #3182bd;
    shape-rendering: crispEdges;
}
.mrc-chart .hidden-bars {
    opacity: 0;
    z-index: 100;
}
.mrc-chart .histogram:hover, .mrc-chart .highlight-bar {
    opacity: 1;
    fill: orange;
    z-index: 100;
}
.mrc-chart text {
    font-size: 1.5em;
    font-family: Verdana;
}
.mrc-box .center {
    stroke-dasharray: 3, 3;
}
.mrc-box .median-line {
    z-index: 100;
    stroke: red;
}
.mrc-box .mean-line {
    stroke-dasharray: 3, 3;
    stroke: #5cb85c;
    stroke-width: 3;
}
.mrc-box .mean-label {
    fill: #5cb85c;
}
.mrc-box .outlier {
    fill: none;
    stroke: #ccc;
}

.mrc-box .outlier-text{
    fill:red;
}

/************************
*       Axes
*******************/


.mrc-chart .axis text{
    fill: #777;
    stroke: none;
    font-size: 1.3em;
}
.mrc-chart .axis
{
    stroke-width: 1.5px;
    stroke: #666;
    fill:none;
}
.mrc-chart .y.axis{

}
.mrc-chart .x.axis{

}

.mrc-chart .tick.major{
    fill:#666

}
.mrc-chart .tick.major line{
    fill: #666;

    stroke: #666 !important;
    /* fill: #555; */
}

.mrc-rickshaw{
    padding: 10px;

}

.mrc-chart .lollipop{

}
.mrc-chart .lollipop:hover{
    fill:orange !important;
    stroke:orange !important;

}
.mrc-chart .lollipop.line{
    stroke-width:2px;
    stroke: #777;
}
.mrc-chart .lollipop.circle{

}
/***********************
        CARDS
***********************/

.mrc-card {
    border-radius: 0px !important;
    box-shadow: 2px 2px 5px #888888;
    margin: 0 0 10px 0 !important;
    border: None !important;
    page-break-after: always;
}
.mrc-card .panel-heading {
    background: gold;
}
.mrc-card .panel-body {
    padding: 10px;
}
.mrc-card .panel-title {
    font-size: 1.5em;
    font-weight: bold;
}
.card-description, .card-notes {} .card-stats {} .card-stats table {
    width: 100%;
    text-align: center;
    border-spacing: 6px;
    border-collapse: separate;
}
.card-item {
    margin: 0 12%;
    padding: 0;
    border: 1px solid white;
    box-shadow: 1px 1px 5px #888;
    vertical-align: top;
}
.card-key {
    background-color: gold;
    font-size: 1.5em;
    margin: 0%;
    width: 100%;
    vertical-align: top;
}
.card-value {
    /* background-color: #eee; */

    width: 100%;
    padding: 5px;
    vertical-align: middle;
}
/**************************
Spectrum Diagram
*************************/

.line-marker:hover, .spectrum-sqaure:hover {
    /*opacity: .7;*/
    fill:orange !important;
}
.spectrum-line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.line-marker {} 
#pattern-fill {
    fill: white;
    /*stroke:inherit;*/
}
.marker.outlier,
.outlier,
.marker .outlier{
    fill:red;
}

#pattern-stripe {
    fill: white;
    stroke: #eee;
}
#pattern-stripe-hover {
    fill: orange;
    stroke:orange;
    opacity:.5;
    /*stroke: rgba(255, 0, 0, .5);*/
}

.spectrum-legend{
    font-size:.7em;
}
/*#mask-stripe{

}*/

/*#mask-stripe rect{
    fill: url(#pattern-stripe);
 
}
*/

.mrc-chart .missing-bar {
    /*mask: url(#mask-stripe);*/

    fill: url(#pattern-stripe);
    /*fill: rgba(255, 0,0, .3);*/

    /*fill:#ddd;*/

    stroke: #eee;
}
.mrc-chart .missing-bar:hover {
    fill: url(#pattern-stripe-hover);
    /*fill: rgba(255, 0,0, .6);*/

    /*fill:#ddd;*/

    /*stroke:red;*/
}
.sort-dropdown {
    float: left;
    margin-right: 5px;
    text-align: center;
    display: block;
    z-index: 1;
    position: absolute;
}
.sort-dropdown ul {
    width: auto;
    min-width: 100%;
}
.sort-dropdown li {
    padding: 2px;
    cursor: pointer;
}
.sort-dropdown li:hover {
    background-color: #eee;
}
.chart-title {
    z-index: 5;
    text-align: center;
    font-size: 1.3em;
    line-height: 35px;
    float: none;
}


.chart-frame{
    /* margin: 0 5%; */
    float: left;
}
.chart-frame-histogram{
    width: 50%;

}
.chart-frame-lollipop{
    width: 50%;

}
.chart-frame-timeseries{
    width: 100%;

}
.chart-frame-box{
    width:50%;

}
.chart-frame-spectrum{
    width:50%

}
.chart-frame-scatter{
    width:50%;
}


.rschart{
    position: relative;
    /* left: 40px; */
}
.rickshaw_graph .y_ticks {
    left: 0;
}
.rsy_axis{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}

.line1-color{
    stroke:steelblue;
   
}
.area1-color{
    fill:lightgrey;
}
path.main-line{
     stroke-width: 2px;
}
path.main-area{
    
}