
<div id="card-<%=data.id%>" role="tab" data-title="<%=data.title%>" class="mrc-card panel panel-default">
    <div class="panel-heading" role='tab' id="card-<%=data.id%>-heading">
        <h2 class='panel-title'>
            <label id='<%=data.id%>-title-text' class='card-title-text mr-tooltip' title='Type to rename' contenteditable="true" oninput='renameColumn("<%=data.id%>-title-text", "<%=data.title%>")'><%=data.title%></label>
            <a class='mr-tooltip' data-title='[Column name] (Data Type)<br><br>Click to collapse/expand' data-toggle="collapse" data-parent="#cards" href="#card-<%=data.id%>-collapse" aria-expanded="true" aria-controls="#card-<%=data.id%>-collapse">
               [ <%=data.columnName%> ] (<%=data.type%>)
            </a>
        </h2>

    </div>
    <div id="card-<%=data.id%>-collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="card-<%=data.id%>-heading">
        <div class='panel-body'>
            <div class="card-charts">



            </div>


            <div class="form-group card-suggestions">
                <label for="<%=data.id%>-suggestions">Suggestions</label>
                <textarea class="form-control card-suggestion-text" rows="3" id="<%=data.id%>-description"><%=data.description%></textarea>
            </div>
            <div class="form-group card-description">
                <label for="<%=data.id%>-description">Description</label>
                <textarea class="form-control card-description-text" rows="3" id="<%=data.id%>-description"><%=data.description%></textarea>
            </div>
            <div class="form-group card-notes">
                <label for="<%=data.id%>-notes">Notes:</label>
                <textarea class="form-control card-notes-text" rows="3" id="<%=data.id%>-notes"><%=data.notes%></textarea>
            </div>

            <div id='<%=data.id%>-questions' class='form-group card-questions '>

            </div>
        </div>
    </div>
</div>