<%
var MRC = new MetaReaderCharts();
var series = new MRC.timeSeries(target, {height:300}, data.timeSeries, data.title);

var stats = {
    'Total': data.count,
    'Unique': data.countUnique,
    'Range':data.range.humanize(),
    'Start': data.min.format(data.format),
    'End': data.max.format(data.format)
};
var titles = {
    'Total': 'Number of records',
    'Unique':'Number of unique records',
    'Start':'Start Date',
    'End': 'End Date',
    'Range':'Range of Values'
};
%>

<div id="<%=data.title%>-stats" class="card-stats">

    <table>
        <tr>
            <%_.each(stats, function(value, key){%>
            <td class='card-item mr-tooltip' data-toggle="tooltip" data-placement="top" title='<%=titles[key]%>'>
                            <label class="card-key"><%=key%></label>
            <label class="card-value"><%=value%></label>
            </td>

            <%});%>
        </tr>
    </table>
</div>
