<div class="jumbotron">
    <h1>Welcome to MetaReader</h1>
    <h2>Learn, Document, Share</h2>
    </br>
    <ul>
        <li><span class="glyphicon glyphicon-ok text-success"></span> MetaReader is a dataset meta exploration and documentation tool.</li>
        <li><span class="glyphicon glyphicon-ok text-success"></span> It helps you learn about your data on a meta level before you start your exploratory data analysis.</li>
        <li><span class="glyphicon glyphicon-ok text-success"></span> MetaReader also allows you to document your dataset to help others explore it.</li>
    </ul>
    </br>
    <p><a class='btn btn-success btn-lg' href="javascript:triggerInputFile()">  
            <i class="glyphicon glyphicon-open text-success "></i> Upload your set  
            <small>(&lt;1MB)</small>    </a> </p>

    <h4>
        <small>Note: MetaReader runs entirely on your client browser. The performance is limited by the client specs.</small>
    </h4>
</div>