<div class="jumbotron">
  <h1>Welcome to MetaReader</h1>
  <h2>explore, document, share</h2>
  <p>MetaReader is a dataset meta exploration and documentation tool. 
      It can help you learn about your data on a meta level before you start your exploratory data analyss</p>
  <p>MetaReader allows you to document your dataset to help others explore it</p>
  
  <p><a class='btn btn-success btn-lg' href="javascript:triggerInputFile()">  
                            <i class="glyphicon glyphicon-open text-success "></i> Upload your set  
      </a></p>
                      
</div>