<!--<li id="nav-items">-->
<!--<a href="javascript:;" data-toggle="collapse" data-target="#navigation"><b class="caret"></b></i> Elements <i class="fa fa-fw fa-caret-down"></i></a>-->
<!--<div id='navigation-affix'   data-offset-top="60" data-offset-bottom="200" class='affix'>-->
<ul  id="navigation" class="nav sidenav affix" data-spy='affix'>
    <% _.each(cards, function(card) {
    var id = $(card).attr('id')
    var title = $('#' + id + ' .card-title-text').text().trim()
    var target = '#' + id
    %>
    <li >
        <a href="<%=target%>"><%=title%></a>
    </li>
    <%});  %>
</ul>
<script>
        $('#navigation li:first').addClass('active');
  
</script>
<!--</div>-->  
<!--</li>-->