
<%
var MRC = new MetaReaderCharts();
MRC.imageMode = imageMode
if(data.countUnique>3)
var box = new MRC.box(target, {'title':data.title+ ' - Box Plot', 'id':data.id+'-box', height:180}, data.quartiles, data.mean, data.outliers)
var fd3 = new MRC.histogram(target, {'title':data.title+ ' - Frequency Distribution (Bins)', 'id':data.id+'-fd3', 'isBins':true}, data.frequencyDistributionBins)

//var fd = new MRC.histogram(target, {'title':data.title+ ' - Frequency Distribution','id':data.id+'-fd1'}, data.frequencyDistribution)
var fd2 = new MRC.lollipop(target, {'title':data.title+ ' - Frequency Distribution', 'id':data.id+'-fd2'}, data.frequencyDistribution)
//if(data.countUnique>20)


var spectrumLine = new MRC.spectrumLine(target, {'title':data.title + ' - Scatter Plot','id':data.id+'-spectrum-dots'}, data.data, false, (data.countUnique>3)?data.outliers:null)
var spectrum = new MRC.spectrum(target, {'title':data.title + ' - Color Spectrum Chart','id':data.id+'-spectrum', height:75}, data.data)

%>
