
<%
var MRC = new MetaReaderCharts();
var box = new MRC.box(target, {'title':data.title+ ' Box Plot', 'id':data.id+'-box'}, data.quartiles, data.mean)
var fd = new MRC.histogram(target, {'title':data.title+ ' Frequency Distribution sorted by Value','id':data.id+'-fd1'}, data.frequencyDistribution, data.title)
var fd2 = new MRC.lollipop(target, {'title':data.title+ ' Frequency Distribution with Bins', 'id':data.id+'-fd2'}, data.frequencyDistribution, data.title + '(Lollipop)')
var fd3 = new MRC.histogram(target, {'title':data.title+ ' Frequency Distribution with Bins', 'id':data.id+'-fd3'}, data.frequencyDistributionBins, data.title + '(Bins)')


var spectrum = new MRC.spectrum(target, {'title':data.title + ' Spectrum Chart','id':data.id+'-spectrum', height:100}, data.data, data.title)
var spectrumLine = new MRC.spectrumLine(target, {'title':data.title + ' Spectrum Chart','id':data.id+'-spectrum'}, data.data, data.title)
var stats = {'Count':data.count, 'Unique':data.countUnique, 'Total':data.sum, 'Mean':data.mean, 'Range':data.range, 'Zeros': data.zeros, 'Missing':data.invalidValues}
var titles = {'Count':'Number of Records', 
    'Unique':'Number of unique records', 
    'Total':'Sum of all records', 
    'Mean':'Average value for all valid records', 
    'Range':'Range of Values',
    'Zeros': 'Number of records with value 0',
    'Missing':'Missing or Invaliid numerical values:e.g. Null,None,NaN..etc.'}
%>

<div id="<%=data.title%>-stats" class="card-stats">

    <table>
        <tr>
            <%_.each(stats, function(value, key){%>
            <td class='card-item mr-tooltip' data-toggle="tooltip" data-placement="top" title='<%=titles[key]%>'>
                            <label class="card-key"><%=key%></label>
            <label class="card-value"><%=value%></label>
            </td>

            <%});%>
        </tr>
    </table>
</div>

