<!--<label for="<%=data.id%>-questions">Questions</label></br>-->


<%_.each(data.questions, function(q, i){

%>
<div id='<%=data.id%>-question-<%=i%>' 
     class='<%=data.id%>-question card-question input-group'>
    <span class='input-group-addon'>Q</span>
    <textarea rows='2' class='form-control question-text'
           onchange='updateQuestion("<%= data.columnName %>", <%= i %> )'><%=q%></textarea>
    <span class='input-group-addon btn-danger btn-remove-question mr-tooltip' 
                data-id='<%=data.id%>' data-index='<%=i%>' data-toggle='tooltip' data-placement="top" 
                title='remove this question'
                onclick='removeQuestion("<%= data.columnName %>", <%= i %> )'>
            <span class="glyphicon glyphicon-minus"></span>
        </span>
  
</div>
<%})%>
