
<%
var categorical = data.countUnique<=20;
var MRC = new MetaReaderCharts();
MRC.imageMode = imageMode
var fd = new MRC.histogram(target, {'title':data.title + ' frequency distribution','id':data.id+'-fd1'}, data.frequencyDistribution, categorical?data.type:null)
var fd3 = new MRC.lollipop(target, {'title':data.title + ' frequency distribution (Lollipop)','id':data.id+'-fd3'}, data.frequencyDistribution, categorical?data.type:null)
if(categorical || data.metrics.number>data.count*.1)
    var spectrum = new MRC.spectrum(target, {'title':data.title + ' Value Spectrum','id':data.id+'-spectrum', height:75}, data.data, data.title, true)
if(!categorical)
{
    var wordLengths = _.map(data.data, function(d,i){return d?d.length:0})
    var wordCount = _.map(data.data, function(d,i){
        if(d)
        {
            var split = d.split(' ')

            return _.isArray(split)?split.length:1
        }
        return 0
    })
    var spectrumWL = new MRC.spectrum(target, {'title':data.title + ' - Character Count Spectrum','id':data.id+'-spectrum-wl', height:75,
            colorRange: ["rgb(229, 168, 137)", "rgb(226, 105, 45)", "rgb(229, 76, 0)"]}, wordLengths, data.title)
    var spectrumWC = new MRC.spectrum(target, {'title':data.title + ' - Word Count Spectrum','id':data.id+'-spectrum-wc', height:75,
            colorRange: ["rgb(160, 206, 229)", "rgb(160, 206, 229)", "rgb(40, 149, 204)"]}, wordCount, data.title)
}

%>
