
<%
var MRC = new MetaReaderCharts();
var fd = new MRC.histogram(target, {'title':data.title,'id':data.id+'-fd1'}, data.frequencyDistribution, data.title)
var fd3 = new MRC.lollipop(target, {'title':data.title,'id':data.id+'-fd3'}, data.frequencyDistribution, data.title)
var spectrum = new MRC.spectrum(target, {'title':data.title + ' Spectrum','id':data.id+'-spectrum', height:100}, data.data, data.title)
<!--var fd2 = new MRC.histogram(target, {'title':data.title, 'id':data.id+'-fd2'}, data.frequencyDistributionBins)-->
%>